@model IEnumerable<NBL.Models.ViewModels.ViewProduct>
@{
    ViewBag.Title = "Received Product";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var i = 0;
}

<section class="content">
    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">Received Product List </div>
        <div class="panel panel-body">
            <table id="tbl_Received_product_lsit" class="display table-bordered table-responsive" style="width: 100%;border: 1px solid">
                <thead>
                    <tr>
                        <td>  S.N</td>
                        <td>  Product Name</td>
                        <td class="text-right">  Quantity</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.ProductName</td>
                            <td class="text-right">@item.Quantity</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>  S.N</td>
                        <td>  Product Name</td>
                        <td class="text-right">  Quantity</td>

                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel panel-footer">
            @Html.ActionLink(" Back", "ReceivedList", null, new { @class = "fa fa-arrow-left btn btn-danger" })
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $("#tbl_Received_product_lsit").DataTable();
    </script>
}


