@model IEnumerable<NBL.Models.ChequeDetails>

@{
    ViewBag.Title = "CollectionList";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">

    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">All Collection List</div>
        <div class="panel panel-body">
         
            @Html.Partial("_ViewCollectionListPartialPage",Model)
        </div>
    </div>
</section>
    
@section Scripts
{
    <script>
        $('#table_receivable_list').DataTable({
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
            "order": [[4,'desc']],
            "oLanguage": {
                "sEmptyTable": "<h4 style='color:green;font-weight:bolder;'>There is no receivable cheque or cash to active right now !</h4>"
            }
        });
    </script>
}
