

.headingStyle{
    font-weight:bolder;
    font-size:22px;
    margin:0;padding:0;
    font-family:'Times New Roman';
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    display: inline-block;
    font-size: 10pt;
}

.panel-heading {
    font-weight: bolder;
    font-size: 22px
}

