@model NBL.Models.EntityModels.Identities.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<div class="content">
    @Html.Partial("_ChangePasswordPartialPage",Model)
</div>

@section Scripts
{
    <script>
        $('#Password, #ConfirmPassword').on('keyup',
            function() {
                if ($('#Password').val() === $('#ConfirmPassword').val()) {
                    $('#message').html('Matching').css('color', 'green');

                } else
                    $('#message').html('Not Matching').css('color', 'red');

            });
    </script>
    
    <script>
        $('#OldPassword, #ConfirmOldPassword').on('keyup',
            function() {
                if ($('#OldPassword').val() === $('#ConfirmOldPassword').val()) {
                    $('#oldpassowrdmatching').html('Matching').css('color', 'green');

                } else
                    $('#oldpassowrdmatching').html('Not Matching').css('color', 'red');

            });
    </script>
    
}
