@model IEnumerable<NBL.Models.ViewModels.Deliveries.ViewDeliveredOrderModel>
<section class="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
</section>