
@using NBL.Models
@using NBL.Models.EntityModels.Branches
@using NBL.Models.EntityModels.Companies
@{
    var branch = (Branch) Session["Branch"];
    var company = (Company) Session["Company"];
}
<div class="text-center">
    <img src="~/Images/@company.Logo" style="margin: 0; padding: 0;"/>
    <p style="font-size: 25px; font-weight: bolder; margin: 0; padding: 0; color: green !important">Navana Batteries Ltd</p>
    <address>
        @(branch?.BranchAddress ?? "N/A")<br/>
        Phone: @(branch?.BranchPhone ?? "N/A"),E-mail: @(branch?.BranchEmail ?? "N/A")
    </address>
</div>