
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Product Life Cycle</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="ProductName" class="control-label">Product Name :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="ProductName"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="ProductionDate" class="control-label">Production Date :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="ProductionDate"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="ComeTofactoryInventory" class="control-label">Come to Store :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="ComeTofactoryInventory"></label>
                    </div>
                </div>
            </div>

        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="LifeTime" class="control-label">Life Time :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="LifeTime"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="Age" class="control-label">Product Age :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="Age"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <label for="RemainingLife" class="control-label">Remaining Life :</label>
                    </div>
                    <div class="col-md-7">
                        <label id="RemainingLife"></label>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <div class="panel-footer">
        <label>Product Status Heilight...</label>
    </div>
</div>