@model NBL.Models.Searchs.SearchCriteria
@{
    ViewBag.Title = "General Ledger";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var date = DateTime.Now.Date.ToString("dd-MMMM-yyyy");
}

<section class="content">
    <div class="panel panel-info">
        <div class="panel panel-heading">General Ledger</div>
        <div class="panel panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="FromDate" class="control-label col-md-2">From Date</label>
                        <div class="col-md-10">
                            <input type="text" id="FromDate" name="FromDate" value="@date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ToDate" class="control-label col-md-2">To Date</label>
                        <div class="col-md-10">
                            <input type="text" id="ToDate" name="ToDate" value="@date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AccountName" class="control-label col-md-2">Account Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="AccountName" placeholder="Type Sub Sub Sub Account name ..." required />
                            <input type="hidden" name="SubSubSubAccountListId" id="SubSubSubAccountListId" /> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            @Html.ActionLink("Back", "Home", "Home", new { area = "AccountsAndFinance" }, new { @class = "btn btn-danger fa fa-arrow-left" })
                            <button type="button" class="btn btn-success fa fa-eye" onclick="ViewReport(this)"> View Report</button>
                        </div>
                    </div>
                </div>
            }

            <div id="divGeneralLedger"></div>
            <div id="Loading" class="text-center" style="font-size:25px"><i class="fa fa-spinner"></i> I'm loading,whatever you want!</div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(function () {

            $("#Loading").hide();
            $("#FromDate").datepicker({
                dateFormat: 'dd-MM-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "2019:+@DateTime.Now.Year",
                maxDate: '0D'
            });
            $("#ToDate").datepicker({
                dateFormat: 'dd-MM-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "2019:+@DateTime.Now.Year",
                maxDate: '0D'
            });
        });

    </script>

    <script>
        function ViewReport(btnClick) {

            $("#divGeneralLedger").html("");
            $("#Loading").show();
            var startDate = $("#FromDate").val();
            var endDate = $("#ToDate").val();
            var subSubSubAccountListId = $("#SubSubSubAccountListId").val();
            if (subSubSubAccountListId !== "") {
                var json = { startDate: startDate, endDate: endDate, SubSubSubAccountListId: subSubSubAccountListId };
                $.ajax({
                    type: 'Post',
                    url: RootUrl + "accountsandfinance/reports/GetGeneralLedgerReportBySearchCriteria",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#Loading").hide();

                        $("#divGeneralLedger").html(data);
                    }
                });
            } else {
                alert("Please type a valid account name!");
                $("#Loading").hide();
            }

        }
    </script>

    @*Client Name Auto Complete*@
    <script type="text/javascript">
    $(function () {
        $("#AccountName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Common/SubSubSubAccountNameAutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data,
                            function(item) {
                                return item;
                            }));
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#SubSubSubAccountListId").val(i.item.val);
            },
            minLength: 1
        });
    });
    </script>
}

