@model IEnumerable<NBL.Models.EntityModels.ChartOfAccounts.SubSubSubAccount>
@{
    ViewBag.Title = "Sub Sub Sub AccountList";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var i = 0;
}

<section class="content">
    <h3 class="text-center text-green">Sub Sub Sub Account List</h3>
    <table id="tbl_sub_sub_sub_account_List" class="display table-bordered" style="border: 1px solid">
        <thead>
        <tr>
            <th>S.N</th>
            <th>Account Code</th>
            <th>Account Name</th>
            <th>Account Head Code</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.SubSubSubAccountCode</td>
                <td>@item.SubSubSubAccountName</td>
                <td>@item.SubSubAccountCode</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <th>S.N</th>
            <th>Account Code</th>
            <th>Account Name</th>
            <th>Account Head Code</th>
        </tr>
        </tfoot>
    </table>
</section>

@section Scripts
{
    <script>
        $("#tbl_sub_sub_sub_account_List").DataTable();
    </script>
}





